{{#if task.isEditing}}
	{{autofocus-elastic-textarea class="edit" value=task.editDescription insert-newline="updateTask" focus-out="cancelEdit" escape-press="cancelEdit"}}
{{else}}
	{{input type="checkbox" checked=task.isDone}}
	<div {{action "editTask" on="doubleClick"}}>{{task.description}}</div>
{{/if}}
