<h1>Add new task</h1>
<form class="new-task" onsubmit={{action "createTask"}}>
  {{autofocus-elastic-textarea
    value=newTaskDescription
    placeholder="New task"
    class="spec-new-task-description"
    insert-newline=(action 'createTask')
    escape-press=(action cancel)
  }}
  <br><br>
  <div class="spec-new-task-date">
    {{#power-datepicker selected=newTaskDate onSelect=(action 'changeDate') renderInPlace=true as |dp|}}
      {{#dp.trigger}}
        <input type="text" placeholder="Date" value={{newTaskDate}} readonly>
      {{/dp.trigger}}
      {{#dp.content}}
        <div class="date-picker-content">
          {{dp.nav}}
          {{dp.days}}
        </div>
      {{/dp.content}}
    {{/power-datepicker}}
  </div>
  <br><br>
  <input type="submit" value="Add" class="spec-create-task">
  <button type="button" class="spec-cancel-button" {{action cancel}}>
    Cancel
  </button>
</form>
