<h1>Add new task</h1>
<form class="new-task" onsubmit={{action "createTask"}}>
  <AutofocusElasticTextarea
    @value={{this.newTaskDescription}}
    @insert-newline={{action "createTask"}}
    @escape-press={{@cancel}}
    class="spec-new-task-description"
    placeholder="New task"
  />
  <br><br>
  <div class="spec-new-task-date">
    <PowerDatepicker @selected={{this.newTaskDate}} @onSelect={{action "changeDate"}} @renderInPlace={{true}} as |dp|>
      <dp.Trigger>
        <input type="text" placeholder="Date" value={{moment-format this.newTaskDate "YYYY-MM-DD" allow-empty=true}} readonly>
      </dp.Trigger>
      <dp.Content>
        <div class="date-picker-content">
          <dp.Nav />
          <dp.Days />
        </div>
      </dp.Content>
    </PowerDatepicker>
  </div>
  <br><br>
  <input type="submit" value="Add" class="spec-create-task">
  <button type="button" class="spec-cancel-button" {{action @cancel}}>
    Cancel
  </button>
</form>
