<li
  class="task {{if this.isEditing 'editing'}} {{if @task.isDone 'done'}} {{if @task.isError 'error'}} {{if @task.isNew 'pending'}}"
  draggable={{this.draggable}}
  {{on "dblclick" this.editTask}}
  {{on "dragstart" this.onDragStart}}
  {{on "touchend" this.simulateDoubleClicks}}
  ...attributes
>
  {{#if this.isEditing}}
    <AutofocusElasticTextarea
      @escape-press={{action this.cancelEdit}}
      @focus-out={{action this.cancelEdit}}
      @insert-newline={{action this.updateTask}}
      @value={{this.editDescription}}
      class="edit"
    />
  {{else}}
    <div class="state">
      {{#if @task.isError}}
        {{fa-icon "warning" title="Task failed to save"}}
      {{else if @task.isNew}}
        {{fa-icon "spinner" spin=true}}
      {{else}}
        <Input @type="checkbox" @checked={{@task.isDone}} />
      {{/if}}
    </div>

    {{markdown-to-html @task.description}}
  {{/if}}
</li>
