{{#if this.isEditing}}
  <AutofocusElasticTextarea
    @class="edit"
    @value={{this.editDescription}}
    @insert-newline={{action "updateTask"}}
    @focus-out={{action "cancelEdit"}}
    @escape-press={{action "cancelEdit"}}
  />
{{else}}
  <div class="state">
    {{#if @task.isError}}
      {{fa-icon "warning" title="Task failed to save"}}
    {{else if @task.isNew}}
      {{fa-icon "spinner" spin=true}}
    {{else}}
      <Input @type="checkbox" @checked={{@task.isDone}} />
    {{/if}}
  </div>

  {{markdown-to-html @task.description}}
{{/if}}
