<div
  class="task-list {{if this.hasUnfinishedTasks 'has-unfinished-tasks'}} {{this.dragClass}}"
  data-test-list-name={{@list.name}}
  {{on "dragleave" (action this.dragOut)}}
  {{on "dragover" (action this.dragIn)}}
  {{on "drop" (action this.dropped)}}
  {{did-insert this.initializeHeaderClickHandler}}
  ...attributes
>
  {{component this.headerComponent list=@list}}
  <ul>
    {{#each this.sortedUnfinishedTasks as |task|}}
      <SingleTask @task={{task}} @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} class="spec-task" />
    {{/each}}
    {{#each this.sortedFinishedTasks as |task|}}
      <SingleTask @task={{task}} @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} class="spec-task" />
    {{/each}}
    {{#each this.sortedPendingTasks as |task|}}
      <SingleTask @task={{task}} @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} class="spec-task" />
    {{/each}}
    <li class="task">
      <ElasticTextarea
        @escape-press={{action this.clearTextarea}}
        @insert-newline={{action this.addTask}}
        @value={{this.newTaskDescription}}
        class="new-task spec-new-task"
        placeholder="Add new task"
      />
    </li>
  </ul>
</div>
