{{component this.headerComponent list=@list}}
<ul>
  {{#each this.sortedUnfinishedTasks as |task|}}
    <SingleTask @task={{task}} @class="spec-task" @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} />
  {{/each}}
  {{#each this.sortedFinishedTasks as |task|}}
    <SingleTask @task={{task}} @class="spec-task" @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} />
  {{/each}}
  {{#each this.sortedPendingTasks as |task|}}
    <SingleTask @task={{task}} @class="spec-task" @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} />
  {{/each}}
  <li class="task">
    <ElasticTextarea
      @class="new-task spec-new-task"
      @value={{this.newTaskDescription}}
      @placeholder="Add new task"
      @insert-newline={{action "addTask"}}
      @escape-press={{action "clearTextarea"}}
    />
  </li>
</ul>
