{{#link-to 'days' (query-params date=null) title='Home'}}{{fa-icon icon='home'}}{{/link-to}}
{{#link-to 'recurring' title='Recurring tasks'}}{{fa-icon icon='list'}}{{/link-to}}

<span class='new-task' {{action 'openModal' 'tasks.new'}}>{{fa-icon icon='plus'}}</span>
{{yield}}
