<div class="todolist-actions">
  {{#link-to 'days' (query-params date=null) title='Home'}}
    {{fa-icon icon='home'}}
  {{/link-to}}
  {{#link-to 'recurring' title='Recurring tasks'}}
    {{fa-icon icon='list'}}
  {{/link-to}}
  {{fa-icon icon='plus' class='spec-add-task' click=(action 'toggleModal')}}
  {{date-picker-icon dateSelected=(action changeDate) dateRange=selectedDate.dateRange}}
</div>
<div class="user-actions">
  {{fa-icon 'sign-out' class='spec-logout' click=(action logout)}}
</div>

{{#if isShowingNewTaskModal}}
  {{#modal-dialog
    containerClass="new-task-dialog"
    onClose=(action 'toggleModal')
    targetAttachment='center'
    translucentOverlay=true
  }}
    {{new-task-form
      cancel=(action 'closeModal')
      onTaskCreated=(action 'closeModal')
    }}
  {{/modal-dialog}}
{{/if}}
