<dialog class="edit-task-dialog" {{show-dialog-on-insert onClose=@onClose}} data-test-edit-task-dialog>
  <h1>Edit task</h1>
  <EditTaskForm
    @cancel={{@onClose}}
    @onTaskDeleted={{@onClose}}
    @onTaskSaved={{@onClose}}
    @task={{@task}}
  />
</dialog>
