<form class="new-task" {{on "submit" (prevent-default this.createTask)}} id={{this.formId}}>
  <AutofocusElasticTextarea
    @onEnterPressed={{this.createTask}}
    @onEscapePressed={{@cancel}}
    id="new-task-description"
    data-test-new-task-description
    placeholder="New task"
    style="width: 100%"
  />
  <br><br>
  <input type="date" id="new-task-date" {{on "focus" this.showPicker}} data-test-new-task-date>
  <br><br>
  <button type="submit" data-test-create-task>
    Add
  </button>
  <button type="button" {{on "click" @cancel}} data-test-cancel-button>
    Cancel
  </button>
</form>
