<h1>Add new task</h1>
<form class="new-task" {{on "submit" (prevent-default this.createTask)}}>
  <AutofocusElasticTextarea
    @value={{this.newTaskDescription}}
    @insert-newline={{this.createTask}}
    @escape-press={{@cancel}}
    data-test-new-task-description
    placeholder="New task"
  />
  <br><br>
  <div data-test-new-task-date>
    <PowerDatepicker @selected={{this.newTaskDate}} @onSelect={{this.changeDate}} @renderInPlace={{true}} as |dp|>
      <dp.Trigger>
        <label for="new-task-date-task" class="hidden">Date:</label>
        <input type="text" placeholder="Date" value={{moment-format this.newTaskDate "YYYY-MM-DD" allow-empty=true}} id="new-task-date" readonly>
      </dp.Trigger>
      <dp.Content>
        <div class="date-picker-content">
          <dp.Nav />
          <dp.Days />
        </div>
      </dp.Content>
    </PowerDatepicker>
  </div>
  <br><br>
  <button type="submit" data-test-create-task>
    Add
  </button>
  <button type="button" {{on "click" @cancel}} data-test-cancel-button>
    Cancel
  </button>
</form>
