<div
  class="task-list has-unfinished-tasks past"
  data-test-list-overdue
  ...attributes
>
  <TaskList::Header>
    <h1>Overdue</h1>
  </TaskList::Header>

  <ul>
    {{#each @tasks as |task|}}
      <SingleTask
        @task={{task}}
        @editingStart={{@editingStart}}
        @editingEnd={{@editingEnd}}
        {{draggable-task task}}
        data-test-task
      >
        <:after>
          <p class="due-date">Due {{task.list.name}}</p>
        </:after>
      </SingleTask>
    {{/each}}
  </ul>
</div>
