{{!-- template-lint-disable no-invalid-interactive --}}
<li
  class="task {{if this.isEditing 'editing'}} {{if @task.done 'done'}} {{if @task.isError 'error'}} {{if @task.isNew 'pending'}}"
  draggable="true"
  {{on "dblclick" this.editTask}}
  {{on "dragstart" this.onDragStart}}
  {{on "touchend" this.simulateDoubleClicks}}
  ...attributes
>
  {{#if this.isEditing}}
    <AutofocusElasticTextarea
      @escape-press={{this.cancelEdit}}
      @focus-out={{this.cancelEdit}}
      @insert-newline={{this.updateTask}}
      @value={{this.editDescription}}
      class="edit"
    />
  {{else}}
    <div class="state">
      {{#if @task.isError}}
        <FaIcon @icon="exclamation-triangle" title="Task failed to save" />
      {{else if @task.isNew}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        <input type="checkbox" checked={{@task.done}} {{on "change" this.toggleTaskDone}}>
      {{/if}}
    </div>

    {{markdown-to-html @task.description}}
  {{/if}}
</li>
