{{!-- template-lint-disable no-invalid-interactive --}}
<li
  class="task {{if this.isEditing 'editing'}} {{if @task.done 'done'}} {{if @task.isError 'error'}} {{if @task.isNew 'pending'}}"
  draggable="true"
  {{on "click" (perform this.quickEditTask)}}
  {{on "dblclick" this.editTask}}
  {{on "dragstart" this.onDragStart}}
  {{on "touchend" this.simulateDoubleClicks}}
  ...attributes
>
  {{#if this.isEditing}}
    <AutofocusElasticTextarea
      @onEscapePressed={{this.cancelEdit}}
      @onEnterPressed={{this.updateTask}}
      @value={{this.editDescription}}
      class="edit"
      {{on "focusout" this.cancelEdit}}
    />
  {{else}}
    <div class="state">
      {{#if @task.isError}}
        <FaIcon @icon="exclamation-triangle" title="Task failed to save" />
      {{else if @task.isNew}}
        <FaIcon @icon="spinner" @spin={{true}} />
      {{else}}
        {{!-- template-lint-disable require-input-label --}}
        <input type="checkbox" checked={{@task.done}} {{on "change" (prevent-default this.toggleTaskDone)}}>
      {{/if}}
    </div>

    <MarkdownToHtml @markdown={{@task.description}} />
  {{/if}}
</li>
