<div
  class="task-list {{if this.hasUnfinishedTasks 'has-unfinished-tasks'}} {{this.dragClass}}"
  data-test-list-name={{@list.name}}
  {{on "dragleave" (prevent-default this.dragOut)}}
  {{on "dragover" (prevent-default this.dragIn)}}
  {{on "drop" this.dropped}}
  ...attributes
>
  <this.headerComponent @list={{@list}} {{on "click" this.focusNewTaskField}} />
  <ul>
    {{#each this.sortedTasks as |task|}}
      <SingleTask
        @task={{task}}
        @editingStart={{@editingStart}}
        @editingEnd={{@editingEnd}}
        {{draggable-task task}}
        data-test-task
      />
    {{/each}}

    <li class="task">
      <ElasticTextarea
        @onEscapePressed={{this.clearTextarea}}
        @onEnterPressed={{this.addTask}}
        @value={{this.newTaskDescription}}
        class="new-task"
        id={{this.newTaskFieldId}}
        placeholder="Add new task"
        data-test-new-task
      />
    </li>
  </ul>
</div>
