<form class="task-form" {{on "submit" (prevent-default this.save)}} id={{this.formId}}>
  <AutofocusElasticTextarea
    @onEnterPressed={{this.save}}
    @onEscapePressed={{@cancel}}
    @value={{this.description}}
    id="task-description"
    data-test-task-description
    placeholder="Task description"
    class="w-100"
    required
  />
  <br><br>
  <input type="date" id="task-date" value={{this.taskDate}} {{on "focus" this.showPicker}} data-test-task-date required>

  <br><br>
  <ElasticTextarea
    @onEnterPressed={{this.save}}
    @value={{this.notes}}
    id="task-notes"
    data-test-task-notes
    class="w-100"
    placeholder="Notes (optional)"
  />

  <br><br>
  <button type="submit" data-test-save-task>
    {{this.saveButtonLabel}}
  </button>
  <button type="button" {{on "click" @cancel}} data-test-cancel-button>
    Cancel
  </button>

  {{yield to="footer"}}
</form>
