<div
  class="task-list {{if this.hasUnfinishedTasks 'has-unfinished-tasks'}} {{this.dragClass}}"
  data-test-list-name={{@list.name}}
  {{on "dragleave" (prevent-default this.dragOut)}}
  {{on "dragover" (prevent-default this.dragIn)}}
  {{on "drop" this.dropped}}
  ...attributes
>
  <header>
    <div>
      <this.headerComponent @list={{@list}} {{on "click" this.focusNewTaskField}} />
    </div>

    {{#if this.canToggleExpanded}}
      <div>
        <button type="button" class="expand-collapse-toggle" data-test-toggle-expanded {{on "click" this.toggleExpanded}}>
          <FaIcon @icon={{if this.isExpanded "minus" "plus"}} />
        </button>
      </div>
    {{/if}}
  </header>

  {{#if this.isExpanded}}
    <ul>
      {{#each this.sortedTasks as |task|}}
        <SingleTask
          @task={{task}}
          @editingStart={{@editingStart}}
          @editingEnd={{@editingEnd}}
          {{draggable-task task}}
          data-test-task
        />
      {{/each}}

      <li class="task">
        <ElasticTextarea
          @onEscapePressed={{this.clearTextarea}}
          @onEnterPressed={{this.addTask}}
          class="new-task"
          id={{this.newTaskFieldId}}
          placeholder="Add new task"
          data-test-new-task
        />
      </li>
    </ul>
  {{/if}}
</div>
