<div
  class="task-list {{if this.hasUnfinishedTasks 'has-unfinished-tasks'}} {{this.dragClass}}"
  data-test-list-name={{@list.name}}
  {{on "dragleave" this.dragOut}}
  {{on "dragover" this.dragIn}}
  {{on "drop" this.dropped}}
  ...attributes
>
  <this.headerComponent @list={{@list}} {{on "click" this.focusNewTaskField}} />
  <ul>
    {{#each this.unfinishedTasks as |task|}}
      <SingleTask @task={{task}} @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} data-test-task />
    {{/each}}
    {{#each this.finishedTasks as |task|}}
      <SingleTask @task={{task}} @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} data-test-task />
    {{/each}}
    {{#each this.pendingTasks as |task|}}
      <SingleTask @task={{task}} @editingStart={{@editingStart}} @editingEnd={{@editingEnd}} data-test-task />
    {{/each}}
    <li class="task">
      <ElasticTextarea
        @escape-press={{this.clearTextarea}}
        @insert-newline={{this.addTask}}
        @value={{this.newTaskDescription}}
        class="new-task"
        id={{this.newTaskFieldId}}
        placeholder="Add new task"
        data-test-new-task
      />
    </li>
  </ul>
</div>
