<div class="page-wrapper">
  {{#if this.session.isAuthenticated}}
    <TopNav
      @flashMessages={{this.flashMessages}}
      @selectedDate={{this.selectedDate}}
      @changeDate={{action "changeDate"}}
      @logout={{action "logout"}}
    />
  {{/if}}

  {{outlet}}
</div>
