<div class="page-wrapper">
  {{#if this.session.isAuthenticated}}
    <TopNav
      @flashMessages={{this.flashMessages}}
      @selectedDate={{this.selectedDate}}
      @changeDate={{action this.changeDate}}
      @logout={{action this.logout}}
    />
  {{/if}}

  {{outlet}}
</div>
