{{#view "nav"}}
{{date-picker-icon action="changeDate"}}
{{/view}}
<div class="days">
	{{#each day in controller}}
		{{#draggable-dropzone dropped="moveTaskToDay" classNameBindings=":task-list :spec-day day.isPast:past day.isCurrent:current day.isFuture:future day.hasUnfinishedTasks"}}
			<h1>{{day-name day.date}}</h1>
			<h2>{{format-date day.date}}</h2>
			<ul>
				{{#each task in day.sortedUnfinishedTasks}}
					{{draggable-task task=task class="spec-task" editingStart="pausePolling" editingEnd="unpausePolling"}}
				{{/each}}
				{{#each task in day.sortedFinishedTasks}}
					{{draggable-task task=task class="spec-task" editingStart="pausePolling" editingEnd="unpausePolling"}}
				{{/each}}
				<li>
					{{elastic-textarea class="spec-new-task" value=day.newTaskDescription placeholder="Add new task" insert-newline="addTask"}}
				</li>
			</ul>
		{{/draggable-dropzone}}
	{{/each}}
</div>
