<div class="days">
  {{#each this.days as |list|}}
    <DayTasks
      @list={{list}}
      @editingStart={{action "stopPolling"}}
      @editingEnd={{action "startPolling"}}
    />
  {{/each}}
  {{#each this.lists as |list|}}
    <TaskList
      @list={{list}}
      @editingStart={{action "stopPolling"}}
      @editingEnd={{action "startPolling"}}
    />
  {{/each}}
</div>
