{{#each itemController="day"}}
{{#draggable-dropzone dropped="moveTaskToDay" otherClassNames="tasks"}}
	<h1>{{day-name date}}</h1>
	<h2>{{format-date date}}</h2>
	<ul>
		{{#each sortedTasks itemController="task"}}
			{{#draggable-task task=this}}
				{{input type="checkbox" checked=isDone}}
				{{#if isEditing}}
					{{autofocus-textfield class="edit" value=editDescription insert-newline="updateTask"}}
				{{else}}
					<span {{action "editTask" on="doubleClick"}}>{{description}}</span>
				{{/if}}
			{{/draggable-task}}
		{{/each}}
		<li>
			<form {{action "addTask" on="submit"}}>
				{{input type="text" class="new-task" value=newTaskDescription placeholder="Add new task"}}
			</form>
		</li>
	</ul>
	{{/draggable-dropzone}}
{{/each}}
