{{#view "nav"}}
{{date-picker-icon action="changeDate"}}
{{/view}}
<div class="days">
	{{#each itemController="day"}}
	<div {{bind-attr class=":task-list :spec-day isPast:past isCurrent:current isFuture:future hasUnfinishedTasks"}}>
	{{#draggable-dropzone dropped="moveTaskToDay"}}
		<h1>{{day-name date}}</h1>
		<h2>{{format-date date}}</h2>
		<ul>
			{{#each sortedTasks itemController="task"}}
				{{#draggable-task task=this class="spec-task"}}
					{{#if isEditing}}
						{{autofocus-elastic-textarea class="edit" value=editDescription insert-newline="updateTask" focus-out="cancelEdit" escape-press="cancelEdit"}}
					{{else}}
						{{input type="checkbox" checked=isDone}}
						<div {{action "editTask" on="doubleClick"}}>{{description}}</div>
					{{/if}}
				{{/draggable-task}}
			{{/each}}
			<li>
				{{elastic-textarea class="spec-new-task" value=newTaskDescription placeholder="Add new task" insert-newline="addTask"}}
			</li>
		</ul>
		{{/draggable-dropzone}}
	</div>
	{{/each}}
</div>
