<div class="days">
  {{#if this.isLoading}}
    <FaIcon @icon="spinner" @spin={{true}} @size="4x" />
  {{else}}
    {{#if this.showOverdueTasks}}
      <OverdueTaskList @tasks={{this.poller.overdueTasks}} />
    {{/if}}
    {{#each this.days as |list|}}
      <DayTasks
        @list={{list}}
        @editingStart={{this.stopPolling}}
        @editingEnd={{this.startPolling}}
      />
    {{/each}}
    {{#each this.expandedLists as |list|}}
      <TaskList
        @list={{list}}
        @editingStart={{this.stopPolling}}
        @editingEnd={{this.startPolling}}
        class="list-expanded"
      />
    {{/each}}
    {{#if this.collapsedLists}}
      <div class="collapsed-lists">
        <div class="container">
          {{#each this.collapsedLists as |list|}}
            <TaskList @list={{list}} class="list-collapsed" />
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>
