<tr {{bind-attr class="done isCurrent isCurrent:today isPast:past isFuture:future isUndated:undated"}}>
    <td>
        {{input type="checkbox" checked=done}}
    </td>
    <td>{{format-date date}}</td>
    <td>
        {{event}}
        <ul class="tags">
            {{#each tags}}
                {{partial 'tag'}}
            {{/each}}
        </ul>
    </td>
    <td>{{location}}</td>
    <td>{{format-times startTime endTime}}</td>
</tr>
