Items
<table class="items">
    <thead>
        <tr>
            <th class="done">&nbsp;</th>
            <th class="date">Date</th>
            <th class="event">Event</th>
            <th class="location">Location</th>
            <th class="times">Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each}}
            {{render "item" this}}
        {{/each}}
    </tbody>
</table>
<form {{action "createItem" on="submit"}}>
    <label>
        Event
        {{input id="event" value=newEvent}}
    </label>
    <br>
    <label>
        Location
        {{input id="location" value=newLocation}}
    </label>
    <br>
    <label>
        Time
        {{input id="start" value=newStartTime}}
        &ndash;
        {{input id="end" value=newEndTime}}
    </label>
    <br>
    <button type="submit">Add</button>
</form>
