<ul>
	{{#each}}
	<li {{bind-attr class="done"}}>
		{{input type="checkbox" checked=isDone}}
		{{event}}
	</li>
	{{/each}}
	<li>
		<form {{action "addItem" on="submit"}}>
			{{input type="text" value=newItemEvent placeholder="Add new item"}}
		</form>
	</li>
</ul>
