{{#each groupedByDate}}
<div class="items">
  <h3>{{format-date date}}</h3>

  {{render "item-list" this}}
</div>
{{/each}}

<form {{action "createItem" on="submit"}}>
    <label>
        Event
        {{input id="event" value=newEvent}}
    </label>
    <br>
    <label>
        Location
        {{input id="location" value=newLocation}}
    </label>
    <br>
    <label>
        Time
        {{input id="start" value=newStartTime}}
        &ndash;
        {{input id="end" value=newEndTime}}
    </label>
    <br>
    <button type="submit">Add</button>
</form>
