<ul>
	{{#each itemController="item"}}
	<li {{bind-attr class="isDone:done isEditing:editing"}}>
		{{input type="checkbox" checked=isDone}}
		{{#if isEditing}}
			{{view "edit-item" class="edit" value=event insert-newline="updateItem"}}
		{{else}}
			<span {{action "editItem" on="doubleClick"}}>{{event}}</span>
		{{/if}}
	</li>
	{{/each}}
	<li>
		<form {{action "addItem" on="submit"}}>
			{{input type="text" value=newItemEvent placeholder="Add new item"}}
		</form>
	</li>
</ul>
