{{#each itemController="recurringTaskDay"}}
	<h1>{{day}}</h1>
	<ul>
		{{#each task in sortedTasks itemController="recurringTask"}}
		<li>
			{{#if task.isEditing}}
				{{autofocus-textfield class="edit" value=task.editDescription insert-newline="updateTask"}}
			{{else}}
				<span {{action "editTask" on="doubleClick"}}>{{task.description}}</span>
			{{/if}}
		</li>
		{{/each}}
	</ul>
{{/each}}
