<div class="recurring-task-days">
	{{#each itemController="recurringTaskDay"}}
	<div class="task-list">
		<h1>{{day}}</h1>
		<ul>
			{{#each task in sortedTasks itemController="recurringTask"}}
			<li>
				{{#if task.isEditing}}
					{{autofocus-elastic-textarea class="edit" value=task.editDescription insert-newline="updateTask" focus-out="cancelEdit" escape-press="cancelEdit"}}
				{{else}}
					<div {{action "editTask" on="doubleClick"}}>{{task.description}}</div>
				{{/if}}
			</li>
			{{/each}}
			<li>
				{{elastic-textarea value=newTaskDescription placeholder="Add new recurring task" insert-newline="addTask"}}
			</li>
		</ul>
	</div>
	{{/each}}
</div>
