<div class="tags">
	{{#each}}
		<div class="items">
			<h3>{{name}}</h3>

			{{view "sortable-item-list"}}

			<form {{action "saveItem" on="submit"}}>
				{{input type="text" value=newItem placeholder="New item"}}
			</form>
		</div>
	{{/each}}
	<div class="items">
		<form {{action "saveTag" on="submit"}}>
			<h3>{{input type="text" value=newTag placeholder="New tag"}}</h3>
		</form>
	</div>
</div>
